@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:wght@500&family=Lora:ital@1&family=Montserrat:wght@300&display=swap');
body {
  margin: 0;
  font-family: 'Lora', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
